body {
  margin: 0;
  min-width: 250px;
  background-color: #e8eef8;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

.container{
  height:auto;
  width:50%;
  margin-left: 25%;
  margin-top: 10%;
  }
  h2{
    position: relative;
  }
h1::after{
  content: ']';
  position: relative;
  height:5vh;
  width: 2vw;
  }
  h1::before{
    content: '[';
    position: relative;
    height:5vh;
    width: 2vw;
    }
.space{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  background-color: #425df4;
}
.space p{
display: inline-block;
padding-left: 30PX;
color:#fff;
}
.space p::before{
  content:'>';
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #425df4;
  font-size: 18px;
  transition: 0.2s;
  color:#fff;
  border:1px solid black;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
/* ul li:nth-child(odd) {
  background: #9dbae7;
} */

/* Darker background-color on hover */
ul li:hover {
  background: #e4de87;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #0061f9;
  color: #faf5f5f3;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #056aca;
  color: white;
}

/* Style the header */
.header {
  background-color: #056aca;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border:2px solid black;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  background: #d9d9d9;
  border-radius: 3px;
  width: 90%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 10%;
  background: #4714ef;
  color: #f7f4f4e6;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid black;
}

.addBtn:hover {
  background-color: #031d92;
}